body  {
    margin: 0;
}

a {
    font-family: Calibri;
    text-decoration: none;
}

.Banner {
    width:auto;
    height: 50px;
    display: flex;
    background-color: rgb(210, 254, 233);
    align-items: center;
   justify-content: space-between;
    padding: 1%;
    border: 1px solid #ccc;
}
.link_banner {
    width: 70%;
    text-align: center;
}

.link_banner a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 0px 7%;
}

.perfil_banner {
    margin: 0px 10px;
}
.Contenido_Principal {
    display: grid;
    margin : 30px 5%;
}

.Info_Principal {
    background-color: #f0f0f0;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.Filtro_Principal {
    background-color: #f0f0f0;
    padding: 6px;
    text-align: center;
    border: 1px solid #ccc;
}

.Filtro_Principal input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.Carreras_Principal {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.Box_Carrera {
    background-color: #f0f0f0;
    font-family: Calibri;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
.Footer_Principal {
    width: auto;
    display: grid;
    background-color: rgb(210, 254, 233);
    align-items: center;
    padding: 1%;
    border: 1px solid #ccc;
}

.Contacto_Footer {
    font-family: Calibri;
    text-align: center;
    font-size: 16px;
}
.Contacto_Footer a {
    color: rgb(73, 71, 71);
    margin: 0px 80px;
}
.Contacto_Footer a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.Copyright_Footer {
    font-family: Calibri;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}